*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#f4f6f9;
  display:flex;
}

.sidebar{
  width:260px;
  height:100vh;
  background-image: url("https://images.unsplash.com/photo-1606819717115-9159c900370b?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YXJ0JTIwbXVzZXVtfGVufDB8fDB8fHww");
  background-size: cover;
  color:white;
  padding:25px;
  position:fixed;
  left:0;
  top:0;
}

.logo{
  font-size:28px;
  font-weight:700;
  margin-bottom:40px;
}

.menu{
  list-style:none;
}

.menu li{
  padding:15px;
  margin-bottom:12px;
  border-radius:12px;
  cursor:pointer;
  transition:0.3s;
}

.menu li:hover{
  background:#2563eb;
}

.logout{
  margin-top:50px;
}

.main{
  margin-left:260px;
  width:calc(100% - 260px);
  padding:35px;
  background-image: url("https://www.islands.com/img/gallery/a-bustling-yet-underrated-connecticut-city-is-home-to-americas-oldest-public-art-museum/l-intro-1733933490.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-blend-mode: darken;
  background-color: rgba(0,0,0,0.5);
}

.title{
  font-size:42px;
  font-weight:700;
  color:white;
  margin-bottom:30px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
  gap:20px;
  margin-bottom:35px;
}

.card{
  padding:30px;
  border-radius:18px;
  color:white;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.blue{
  background:#3b82f6;
}

.green{
  background:#22c55e;
}

.orange{
  background:#f59e0b;
}

.red{
  background:#ef4444;
}

.card h3{
  font-size:18px;
  margin-bottom:15px;
}

.card h1{
  font-size:48px;
}

.table-container{
  background:white;
  padding:25px;
  border-radius:18px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.table-title{
  font-size:28px;
  font-weight:700;
  margin-bottom:20px;
  color:#111827;
}

table{
  width:100%;
  border-collapse:collapse;
}

table th{
  background:#f3f4f6;
  padding:15px;
  text-align:left;
}

table td{
  padding:15px;
  border-bottom:1px solid #e5e7eb;
}

.positive{
  background:#22c55e;
  color:white;
  padding:6px 14px;
  border-radius:20px;
  font-size:13px;
}

.negative{
  background:#ef4444;
  color:white;
  padding:6px 14px;
  border-radius:20px;
  font-size:13px;
}

@media(max-width:768px){

  .sidebar{
    width:100px;
  }

  .logo{
    font-size:18px;
  }

  .menu li{
    font-size:12px;
    text-align:center;
  }

  .main{
    margin-left:100px;
    width:calc(100% - 100px);
  }

  .title{
    font-size:30px;
  }

}